.black-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  position: fixed;
  width: 100%;
  height: 100%;
  /* step 1 : 시작 스타일 만들기 */
  visibility: hidden; /* 애니메이션 추가할 때 display: none; 대신 사용 */
  opacity: 0;
  /* step 4 : 시작 스타일에 transition 추가 */
  transition: all 1s;
}

.white-bg {
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.show-modal {
  /* step 2 : 최종 스타일 만들기 */
  visibility: visible; /* 애니메이션 추가할 때 display: block; 대신 사용 */
  opacity: 1;
}